@font-face {
  font-family: 'Algerian';
  src: local('Algerian'),
       url(./assets/algerian/alger-webfont.woff2) format('woff2'),
       url(./assets/algerian/alger-webfont.woff) format('woff'),
       url(./assets/algerian/alger-webfont.ttf) format('truetype');
}

h1 {
  font-family: 'Algerian', cursive;
}